@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

body {
   
background: -webkit-linear-gradient(to right, #6dd5ed, #2193b0);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #6dd5ed, #2193b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
font-family: 'Abril Fatface', cursive;

color: #fff;
}
div {
    text-align: center;
    margin-top: 15%;
    font-size: 2rem;
    text-transform: uppercase;
}
span {
    font-weight: 200;
}

h2 {
    display: inline-block;
    /* font-weight: 600; */
    font-size: 4rem;
}

a {
    color: #fff;
    cursor: pointer;
}